*{
    background-color: var(--black-main);
    color: var(--white-main);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.wrapper{
    max-width: 50rem;
    margin: auto; 
}

.login-txt, .signup-txt, .switch, .logo-container, img, .logo-flex-box, p, h1,
.login-input-container, .signup-input-container, label, div, .login-form, .signup-form{
    background-color: transparent;
}

p{
    font-size: 1rem;
    display: inline;
}

p:hover{
    cursor:pointer;
    text-decoration: underline;
}

.login-signup-container{
    display: flex; 
    flex-direction: column;
    background-color: var(--black-secondary);
    border-radius: 2rem;
    box-shadow: 0rem 0rem .5rem .3rem var(--black-secondary);
    border: .2rem solid var(--white-secondary);
    padding: 2rem 1rem 5rem 1rem;
    margin: 15rem 1rem;
}

.login-txt, .signup-txt{
    margin: 0 auto 2rem auto;
}

.signup-txt{
    display: none;
}

h1{
    font-size: 3.2rem;
    letter-spacing: .3rem;
    font-weight: 600;
}

img{
    max-width: 100%;
    display: block;
}

.logo-flex-box{
    margin: auto;
}

.logo-container{
    width: 15rem;
}

.login-input-container, .signup-input-container{
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
    justify-content: space-around;
}

input, button{
    width: 80%;
}

input{
    background-color: var(--white-main);
    height: 3rem;
    border: none;
    color: var(--black-main);
    font-size: 1.2rem;
    padding: 0 .5rem;
    border-radius: .5rem;
    accent-color: var(--red-main);
}

button{
    background-color: var(--red-main);
    font-size: 1.2rem;
    padding: 1rem;
    border: none;
    border-radius: .5rem;
    margin: auto auto 1.5rem auto;
    height: 5rem;
}

button:hover{
    cursor: pointer;
}

button:disabled, button:disabled:hover{
    background-color: var(--red-disabled);
    color: var(--white-secondary);
}

button:focus, button:hover{
    background-color: var(--red-secondary);
}

.switch{
    margin: auto;
    text-align: center;
    margin-top: 2rem;
}

.hidden{
    display: none;
}

label{
    font-size: 1.2rem;
    color: var(--red-main)
}

.input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}