<!DOCTYPE html>
<html lang="en-US">

<head>

    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="../../main.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container">
        <div class="ip-grid font-color-white">
            <div class="ip-grid-info">
                <p class="text-1 padding-l-sm padding-b-sm">My IP Address is:</p>
                <div class="flex-container-col p-sm light-blue-background">
                    <p>IPv6: 
                        <span class="tooltip">
                            <span>?</span>
                        </span>
                    </p>
                    <a class="link" href="">
                        2600:1008:a131:a395:64ee:81d3:dda0:744d
                    </a>
                </div>
                <div class="p-sm light-blue-background m-top-xsm">
                    <p>IPv6: 
                        <span class="tooltip">
                            <span>?</span>
                        </span>
                        <a class="link" href="">
                        75.242.58.214
                    </a>
                    </p>
                </div>
            </div>
            <div class="ip-grid-map">
                asdfsadf
            </div>
        </div>
    </div>
</body>

</html>